body{
    margin: 0px;
    left: 0%;
    right: 0%;
}

/* Start section main */

.top{
    position: absolute;
    height: 50px;
    left: 0%;
    right: 0%;
    top: 0px;
    background-color: black;


}
.box img{
    background-position: 0 35%;
    background-size: 50vw 200vw;
    background-repeat: no-repeat;
    width: 50%;
    height: 100vh;
    
}
.text{
    font-family: 'Roboto', cursive;
    display: flex;
    font-size: 14px;
    color: white;
    justify-content: space-around;
}

.box{
    height: 100vh;
    /* left: 0%;
    right: 0%; */
    background: #996B60;
    border-radius: 0px;
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-top:25px;
}
.nav1 a{
    color: white;
    text-decoration: none;
    margin-right: 60px;
    font-family: 'Roboto';
}
.nav2 a{
    color: white;
    text-decoration: none;
    margin-right: 60px;
    font-family: 'Roboto';
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_desc p{
    margin-left: 60px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 73px;
}

.description{
    width: 50%;
}

.bottom_desc{
    margin-left: 60px;
    color: white;
    font-family: 'Roboto';
    font-size: 18px;
}

.btn button{
    background-color: #996B60;
    border-color: #fff;
    border-width: 1.5px;
    width: 180px;
    height: 52px;
    border-style: solid;
    margin-left: 60px;
    margin-top: 46px;
    font-family: 'Roboto';
    font-size: 12px;
    color: white;
}
.btn button:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/* End section main */
/* Start section feedback */

.feedback{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 59px;
}

.feedback_text_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 230px;
}

.feedback_text_1 p{
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
}

.feedback_text_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 230px;
}

.feedback_text_2 p{
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
}

.feedback_text_3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback_text_3 p{
    text-align: center;
    font-family: 'Roboto';
    font-size: 18px;
}

/* End section feedback */
/* Start section main_third */


.text2{
    margin-top: 104.59px;
    display: flex;
    justify-content: space-around;
}
.text2 p{
    width: 800px;
    height: 160px;
    text-align: center;
    font-size: 64px;
    font-family: 'Playfair Display', serif;
}
/* Fourth start */

.fourth{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: 'Roboto';
    padding: 59px;
}

.one{
    margin-right: 25px;
}

.two{
    margin-right: 25px;
}

.fourth button{
    background-color: black;
    color: #fff;
    height: 52px;
    width: 180px;
    font-size:12px ;
    font-family: 'Roboto';
}
.fourth button:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    background: rgba(0,0,0,0);
    color: #000000;
    box-shadow:0 0 0 1px #000000;
}
.title{
    font-size:30px ;
}
.description2{
    text-align: center;
    font-size: 16px;
}

/* Fourth end */
/* Fifth start */
.fifth{
    padding: 0px 59px 30px 59px;
}

.orange_pic{
    height: 560px;
    margin-top: 150px;
    background: url(img/orange_pic.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.fifth_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 59px;
}

.fifth_title{
    white-space: nowrap;
    font-weight: 400;
    font-size: 53px;
    font-family: 'Playfair Display', serif;
}

.fifth_desc{
    margin-left: 35rem;
    font-family: 'Roboto';
    font-size: 18px;
}

/* fifth end*/
/*sixth start*/

.sixth_content{
    display:flex;
    justify-content: space-around;
    padding: 59px;
    align-items: center;
}
.sixth_desc{
    padding-right: 59px;
}
.sixth_desc_1 p{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 30px;
}
.sixth_desc_1{
    font-size: 30px;
    font-family: 'Playfair Display', serif;
}
.sixth_desc_2{
    font-family: 'Roboto';
    font-size: 18px;
}
.sixth_desc_3{
    font-size: 36px;
}
.sixth_desc_3 p{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    
}
.sixth_desc_4{
    font-family: 'Roboto';
    font-size: 18px;
}
.sixth_desc_5{
    font-size: 30px;
}
.sixth_desc_5 p{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    
}
.sixth_desc_6{
    font-family: 'Roboto';
    font-size: 18px;
}
/* sisxth end */
/* seventh start*/

.seventh_content{
    height: 313px;
    left: 0%;
    right: 0%;
    top: 0px;
    background-color: #000;
}
.seventh_desc{
    font-family: 'Roboto';
    display: flex;
    padding: 70px;
    justify-content: space-around;
    align-items: center;
}

.seventh_desc_1{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 185px;
}

.seventh_desc_2{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 185px;
}

.seventh_desc_3{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title2{
    font-size: 18px;
    text-align: center;
}

.title2_1{
    font-size: 14px;
}

.title2_2{
    color: #8A8A8A;
    font-size: 16px;
}


/*seventh end*/



/*eight start*/

.eight_content{
    padding: 59px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.eight_img{
    margin-right: 110px;
}

.eight_1{
    font-size: 64px;
    font-family: 'Roboto';
    margin-bottom: 154px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}
.eight_2{
    font-size: 18px;
    font-family: 'Roboto';
    margin-bottom: 35px;
}

.eight_3{
    font-size: 18px;
    font-family: 'Roboto';
}



/*eight end*/